article(id="about" ng-controller="AboutController")
  h2.articleTitle
    p - About Me -
  div.flex
    div.photoContainer
      div.dottedLine
        div#aboutPhoto
          figure(align="center")
            img(class="littleDeatilBox" id="topBox" src="images/diamond2.png")
            img(class="littleDeatilBox" id="bottomBox" src="images/diamond2.png")
            img(id="realPhoto" ng-src="{{Info.photo}}")
    div.description
      md(ng-model="Info.description")
    img(src="images/lineDown.jpg" class="lineDown" alt="lineDown")