<div id="leds">
	<h1>Leds</h1>
	<section id="menumatriz" >
		<h2>Selecciona las dimensiones</h2>
		<article class="itemmatriz" id="8">8x8</article>
		<article class="itemmatriz" id="7s">7seg</article>
	
		<!--<article class="itemmatriz" id="5">5x5</article>-->	
	</section>
	<section >
		<id id="atras"> < </id>
		<article id="matriz" >
		
			<div id="contenedor">
				
			</div>
			
			<div id="botones">
				<div id="clc" >
					Calcular
				</div>
				<div id="del">
					Borrar
				</div>
			</div>

			<div id="info" >
				Selección:
			</div>

		</article>
	</section>
</div>