#contact { 
	.flex {
		height: 100%;
	}
	.diamondParent {
		opacity: 0;
		transform: rotateY(90deg);
		height: 70%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 3em 0;
		.diamondContact {
			background: rgba(0, 0, 0, 1);
			transform: rotateZ(-45deg);
			position: relative;
			margin: 0 auto;
			height: 200px;
			width: 200px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.contactInfo {
				transform: rotate(45deg);
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100%;
				width: 100%;
				p {
						flex: 1;
					  line-height: 370%;
					  margin: 0 auto;
					  width: 90%;
					  a {
					  	color: inherit;
					  }
				}
			}
			
			.littleDeatilBox{
				position: absolute;
				width: 10%;
			}
			
			#topBox {
				top: 0;
				right: 0;
			}

			#bottomBox {
				bottom: 0;
				left: 0;
			}
		}
	}
	.contacText {
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}
}

@media screen and (max-width: 736px) and (orientation: landscape) { //iphone 6 plus
	#contact {
		.articleTitle {
			width: 100%;
		}
		.flex {
			display: flex;
			align-items: center;
			.diamondParent {
				flex: 1;
				.diamondContact {
					height: 160px;
				  width: 160px;
				}
			}
			.contacText{
				flex: 1;
			}
		}
	}
}