#contact { 
	.diamondParent {
		opacity: 0;
		transform: rotateY(90deg);
		height: 70%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		.diamondContact {
			background: rgba(0, 0, 0, 1);
			transform: rotateZ(-45deg);
			position: relative;
			margin: 0 auto;
			height: 200px;
			width: 200px;
			
			.littleDeatilBox{
				position: absolute;
				width: 10%;
			}
			
			#topBox {
				top: 0;
				right: 0;
			}

			#bottomBox {
				bottom: 0;
				left: 0;
			}
		}
	}
	p {
		margin: 0 auto;
		width: 90%;
	}
}