div.Icon
	.rotateBack
		a(href="{{link}}" target="{{target}}")
			div#lineUp.line
			object(type="image/svg+xml" class="iconLogo" id="{{src}}" data="images/icons/{{src}}.svg")
			img(class="iconLogoImg" ng-src="images/icons/{{src}}.svg")
			div#lineDown.line