<div id="loader"></div>

<div ng-app="eveBook">
	<video-directive></video-directive>

	<div id="wrapper">
		<div id="sub-wrapper">
			<nav-directive> </nav-directive>
			<section id="main" ng-view>

			</section>
		</div>
		<div id="menu">
			<menu-directive> </menu-directive>	
		</div>
	</div>


	<incidental-directive></incidental-directive>
</div>