<video id="videoBg" autoplay loop>
	<source src="media/Sec3_1.mp4">
</video>


<div id="wrapper">

	<icon-directive> </icon-directive>
	<div id="main">
		<intro-directive></intro-directive>
		<about-directive></about-directive>	
		<work-directive></work-directive>	
		<contact-directive></contact-directive>	
	</div>
	
</div>
	<menu-directive> </menu-directive>	