<div ng-app="eveBook">
	<video id="videoBg" autoplay loop>
		<source src="media/Sec3_1.mp4">
	</video>

	<div id="wrapper" ng-controller="NavController">
		<div id="sub-wrapper">
			<icon-directive> </icon-directive>
			<section id="main">
				<intro-directive ng-if="isActive(0)" class="introAnimation"></intro-directive>
				<about-directive ng-if="isActive(1)" class="aboutAnimation"></about-directive>	
				<work-directive ng-if="isActive(2)"  class="workAnimation"></work-directive>	
				<contact-directive ng-if="isActive(3)" class="contactAnimation" ></contact-directive>
			</section>
		</div>
		<div id="menu">
			<menu-directive> </menu-directive>	
		</div>
	</div>



	<audio preload id="clicked">
		<source src="media/incidentals/click.ogg" type="audio/ogg">
		<source src="media/incidentals/click.mp3" type="audio/mpeg">
	</audio>

	<audio  loop>
		<source src="media/Mysterious.wav" type="audio/wav">
		<source src="media/Mysterious.ogg" type="audio/ogg">
	</audio>
</div>