include ../mixing/media.jade

div#Incidentales
	+Incidental('click', 'clicked', true, false)
	+Incidental('2138', 'hoverMenu', true, false)
	+Incidental('enter', 'hoverEnter', true, false)
	+Incidental('1583', 'hoverIcon', true, false)
	//-loop in sections
	+Incidental('Mysterious', 'myste', true, true)