mixin gradient()
	defs
		lineargradientt#myLinearGradient1(x1='0', y1='0', x2='1', y2='0', gradientunits='userSpaceOnUse', gradienttransform='matrix(497.331,0,0,497.331,-0.0153646,44.05)')
			stop(offset='0%', style='stop-color:rgb(192,2,92);stop-opacity:1')
			stop(offset='100%', style='stop-color:rgb(176,10,211);stop-opacity:1')

