mixin form()
	form.modal-body(novaliadte)
			div.row
				label Description:
				textarea.col-xs-12(type="text" ng-model="Model.description")
			div.row
				label Photo:
				input.col-xs-12(type="text" ng-model="Model.photo")