mixin form()
	form.modal-body(novaliadte)
			div.row
				label Residence:
				input.col-xs-12(type="text" ng-model="Model.residence")
			div.row
				label Telephone:
				input.col-xs-12(type="text" ng-model="Model.telephone")
			div.row
				label email:
				input.col-xs-12(type="text" ng-model="Model.email")
			div.row
				label text:
				textarea.col-xs-12(type="text" ng-model="Model.text")