nav#icons.row
	div.left.col-xs-6
		icon-directive(src="facebook", link="https://www.facebook.com/pages/Everito-San/739665709380429?ref=ts&fref=ts")
		icon-directive(src="github", link="https://github.com/everitosan/")
		icon-directive(src="behance", link="https://www.behance.net/everitosan")
		
	div.right.col-xs-6.text-right
		icon-directive(src="share")
		icon-directive(id="soundMobile" src="sound")
		icon-directive(id="menuMobile" src="menuM")
		
