nav#icons.row
	div.left.col-xs-6
		icon-directive(src="facebook", link="https://www.facebook.com/pages/Everito-San/739665709380429?ref=ts&fref=ts", target="_blank")
		icon-directive(src="github", link="https://github.com/everitosan/", target="_blank")
		icon-directive(src="behance", link="https://www.behance.net/everitosan", target="_blank")
		
	div.right.col-xs-6.text-right
		icon-directive(src="share", link="#", target="_self")
		icon-directive(id="soundMobile", src="sound", link="#", target="_self")
		icon-directive(id="menuMobile", src="menuM", link="#", target="_self")
		
