nav#icons.row
	div.left.col-xs-6
		icon-directive(src="facebook")
		icon-directive(src="github")
		icon-directive(src="behance")
		
	div.right.col-xs-6.text-right
		icon-directive(src="share")
		icon-directive(id="soundMobile" src="sound")
		icon-directive(id="menuMobile" src="menuM")
		
