div(class="container-fluid")
	h2.modal-header Create

	form.modal-body(novaliadte)
		div.row
			label Description:
			textarea.col-xs-12(type="text" ng-model="Model.description")
		div.row
			label Photo:
			input.col-xs-12(type="text" ng-model="Model.photo")
	div.modal-footer
		button.btn.btn-default.btn-sm.btn-primary(type='button', ng-click="post()")
			|	CREATE
		button.btn.btn-default.btn-sm.btn-danger(type='button', ng-click="close()")
			|	CANCEL
