article(id="contact" ng-controller="contactController")
	div.diamondParent
		div.diamondContact
			img(class="littleDeatilBox" id="topBox" src="images/diamond2.png")
			img(class="littleDeatilBox" id="bottomBox" src="images/diamond2.png")
			div.contactInfo
				p {{contact.residence}}
				p
					a(href="tel:{{contact.telephone}}") 
						|	{{contact.telephone}}
				p 
					a(href="mailto:{{contact.email}}?Subject=Hi!") 
						|	{{contact.email}}
	p {{contact.text}}
	img(src="images/lineDown.jpg" class="lineDown" alt="lineDown")