@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('../fonts/AvenirNextCondensed-Regular.eot'); /* IE9+ Compat Modes */
  src: url('../fonts/AvenirNextCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AvenirNextCondensed-Regular.woff') format('woff'), /* Modern browsers */
       url('../fonts/AvenirNextCondensed-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/rajdhani-regular-webfont.eot');
    src: url('../fonts/rajdhani-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-regular-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-regular-webfont.woff') format('woff'),
         url('../fonts/rajdhani-regular-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-regular-webfont.svg#rajdhaniregular') format('svg');
    font-weight: normal;
    font-style: normal;

}