body, html {
	background: #000;
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-family:  'Avenir Next Condensed';
}

#loader {
	position: fixed;
	top: 0;
	left : 0;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
	z-index: 2;
}

#wrapper {
	background: url('/images/cu.png'), rgba(0,0,0,.3);
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all ease-in-out 2s;
	font-size: 0;
	overflow: hidden;
	&>div {
		font-size: 16px;
	}
	#sub-wrapper {
		height: 100%;
		width: 100%;
		display: inline-block;
		vertical-align: top;
		#main {
			height: 90%;
			position: relative;
			article{
				font-family: 'Rajdhani';
				height: 100%;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;
				.articleTitle {
					text-align: center;
					display: none;
					text-transform: uppercase;
					p {
						padding: 10px 10px 0 10px;
						margin: 0;
					}
				}
				&:not(#intro) {
					opacity: 0;
				}
				.lineDown {
					position: absolute;
					right: 0;
					bottom: 0;
					width: 100%;
				}
			}
		}
	}
	
}
.modal-content {
	color: #444D4D;
}
.modal {
	background: rgba(0,0,0,.8);
}

.bg-danger2 {
	background: rgb(218, 0, 104);
}

svg {
	overflow: visible;
}

@media screen and (max-width: 1080px) {

	#wrapper {

		#sub-wrapper {
			width: 100% !important;
			#main article .articleTitle {
				display: block;
			}
		}
	}
}
@media screen and (max-width: 736px) and(orientation: portrait) { //iphone 6
	#wrapper {
		min-height: 100%;
		#sub-wrapper #main {
				overflow-y: scroll; 
			article {
		  	margin-bottom: 3em;
				.lineDown {
					position: fixed;
				}
			}
		} 
	}
}
@media screen and (max-width: 736px) and(orientation: landscape) { //iphone 6
	#wrapper #sub-wrapper #main {
		height: 86%;
		article {
			.flex {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: auto;
			}
			.articleTitle{
				text-align: right;
				margin: 0;
			}
		}
	}
}