nav
    figure
        img(src="images/EVESANLogo.png")
    img(id="selectedImg" src="images/menuItem.svg")
    ul
        li( ng-click="$parent.$parent.setActive(1)") About Me
        li( ng-click="$parent.$parent.setActive(2)") Work
        li( ng-click="$parent.$parent.setActive(3)") Contact